body{
background:#ffd6e0;
text-align:center;
font-family:arial;
}

img{
width:220px;
margin:10px;
border-radius:20px;
}

textarea{
width:80%;
height:100px;
border-radius:15px;
border:none;
padding:10px;
}

button{
background:#ff004f;
color:white;
border:none;
padding:12px 30px;
border-radius:25px;
margin:10px;
font-size:16px;
}
